.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 150px;
    grid-row-gap: 0px;

    margin-top: 150px;
}

.counter {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
    1px 2px 4px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7);
}

.screen {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 20px 15px;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;

    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px 30px;
}